.container {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 36px;
  font-weight: 500;
  margin: 10px 0 25px;
}

.infoContainer {
  width: 100%;
}

.info {
  width: 100%;
  text-align: left;
  font-size: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}

.info td {
  padding: 12px 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.info tr > td:first-child {
  font-weight: 600;
}

.info tr > td:last-child {
  text-align: right;
}
