.menu-bar {
  background-color: rgba(224, 224, 224, 0.3);
  height: 100vh;
  margin: 0;
  padding: 20px 10px;
  width: 350px;
}

.menus {
  list-style-type: none;
  margin: 0;
  text-align: left;
}

.menu-item {
  padding: 10px 0;
}

.menu-item-title {
  display: inline-block;
  width: calc(100% - 20px);
}

.menu-item-toggle-icon {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  width: 20px;
}
