.qrcode-container {
  align-items: center;
  border: 2px solid rgb(128, 128, 128, 0.1);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 20px;
  width: 500px;
  margin: 60px auto;
}

.qrcode-header {
  margin: 0;
  font-size: 26px;
  font-weight: 200;
}

.qrcode-form {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.qrcode-form input {
  border: 1px solid rgba(124, 124, 124, 0.3);
  font-size: 16px;
  height: 40px;
  padding: 0 20px;
  width: 70%;
}

.qrcode-form input::placeholder {
  color: rgba(124, 124, 124, 0.6);
}

.qrcode-form input:focus {
  outline: 0;
}

.qrcode-form button {
  border: 0;
  border: 1px solid rgba(124, 124, 124, 0.3);
  color: rgba(124, 124, 124);
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  width: 25%;
}

.qrcode {
  background-color: #fff;
  padding: 16px;
}
